<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>

    {% for user in users %}
    <div>
        <h2>Никнейм - {{ user.username }}</h2>
        <p>Email - {{ user.email }}</p>
        <p>Имя - {{ user.first_name }} {{ user.last_name }}</p>
        <p>Возраст - {{ user.age }}</p>
        <p>Уровень квалификации - {{ user.level }}</p>
        <p>Зарплата - ${{ user.salary }}</p>
        
        {% if user.club %}
            <p>Вы зарегистрированы в - {{ user.club }}</p>
        {% else %}
            <p>Клуб не определен</p>
        {% endif %}
    </div>
    <hr>
    {% endfor %}

    <!-- Logout -->
    <form action="{% url 'users:logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</body>
</html>
